@font-face{ /* Définition d'une nouvelle police nommée Raleway */
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal; 
}

@font-face{ /* Définition d'une nouvelle police nommée Raleway-Italic*/
    font-family: 'Raleway-Italic';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{ /* Définition d'une nouvelle police nommée Raleway-Bold*/
    font-family: 'Raleway-Bold';
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Raleway', Arial, serif;
}

#Container{
    width: 80%;
    max-width: 1340px;
    min-width: 850px;
    margin: auto;
}

#HautHeader{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
}


.Menu a{
    font-size: 0.6em;
    color: #000000;
    text-decoration: none; 
    padding: 30px 30px 30px 30px;
}

.Menu a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#Inscription a{
    font-size: 0.6em;
    color: #0065FC;
    text-decoration: none; 
    padding: 30px 30px 30px 30px;
}

#Accroche {
    font-size: 1em;
}

.Petit {
    font-size: 0.8em;
}

#EssemblePosition{
    display: flex;
}


#Position {
    background-color:  #F2F2F2;
    padding: 15px;
    border-radius:10px 0px 0px 10px;
}

#PositionTexte {
    padding: 10px;
    text-decoration: none;
    border: 4px 0 20px ;
    box-sizing: border-box;
}


#PositionRechercher{
    background-color:  #0065FC;
    padding: 10px;
    border-radius:0px 10px 10px 0px;
    color: #ffffff;
    text-decoration: none;
    border:0px ;
}

#LigneFiltre{
    display: flex;
}

#FiltreFiltre{
    font-size: 1em;
    padding:  15PX;
}


.Filtres{
    display: flex;
    height: 30px;
    margin: 20px;
    align-items :center;
    border-radius:20px 20px 20px 20px;
    border: 2px solid #F2F2F2;  
    padding: 2px 6px 2px 0px;
  }
  
  #FiltreEconomique{
    border-radius:20px 20px 20px 20px;
    padding: 10px 10px 10PX 10px;
    margin: 0PX ;
    background-color:  #DEEBFF; 
  }
  
  #TexteEconomique{
    font-size: 1em;
    border-radius:20px 20px 20px 20px;
    padding: 0px 0px 0PX 10px;
  }



  #FiltreFamilial{
    border-radius:20px 20px 20px 20px;
    padding: 10px 10px 10PX 10px;
    margin: 0PX ;
    background-color:  #DEEBFF;
  }
  
  #TexteFamilial{
    font-size: 1em;
    border-radius:20px 20px 20px 20px;
    padding: 0px 0px 0PX 10px;
  }




  #FiltreRomantique{
    border-radius:20px 20px 20px 20px;
    padding: 10px 10px 10PX 10px;
    margin: 0PX ;
    background-color:  #DEEBFF; 
  }
  
  #TexteRomantique{
    font-size: 1em;
    border-radius:20px 20px 20px 20px;
    padding: 0px 0px 0PX 10px;
  }



  #FiltreAnimauxAutorises{
    border-radius:20px 20px 20px 20px;
    padding: 10px 10px 10PX 10px;
    margin: 0PX ;
    background-color:  #DEEBFF; 
  }
  
  #TexteAnimauxAutorises{
    font-size: 1em;
    border-radius:20px 20px 20px 20px;
    padding: 0px 0px 0PX 10px;
  }



  .Filtres:hover{
    display: flex;
    height: 30px;
    margin: 20px;
    align-items :center;
    border-radius:20px 20px 20px 20px;
    border: 2px solid #F2F2F2;  
    padding: 2px 6px 2px 0px;
    background-color: rgb(201, 200, 200);
  }

 #Info{
    font-size: 0.7em;
    border-radius:20px 20px 20px 20px;
    padding: 5px 7px 5PX 7px;
    margin: 7PX 7PX 0PX 0PX ;
    border: 2px solid #F2F2F2; 
 }

 #LigneInfo{
    display: flex;
 }


/* Footer */

footer{
    display: flex;
    background-color:#F2F2F2  ;
    justify-content: space-around;
    
}

.TitreFooter{
    font-size: 1em;
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    }

/* Section */

#ContainerHebergementEtPopulaires{
    display: flex;
    justify-content: space-between;

}






#Hebergement{
    width: 65.67%;
    background-color: #F2F2F2;
    border-radius:20px 20px 20px 20px;
    position: relative;
    
}

#Hebergement h1{
    font-size: 1.3em;
    padding: 20px 0px 0px 30px;
}

.LigneHebergement{
    margin-top: 30px;
    display: flex;
    position:relative;
}

.EtoilesHebergement {
    display: flex;
    margin: 4px;
}

.InformationHebergement h2 {
    margin: 4px;
    font-size: 0.7em;
}
.InformationHebergement p {
    margin: 4px;
    font-size: 0.7em;
}

.BaseHebergement {
    position: relative;

}

.ImageHebergement{
    
    margin:  0 5% 0 5% ;
    height: 200px;
    width: 28%;
    border-radius: 20px;
    border: 4px solid #7c0a0a; 
    box-shadow: 4px 4px 15px #22201fa2;
    z-index: 1;
    position: relative;
}





.InformationHebergement {
    height: 35% ;
    width: 28.1%;
    background-color: #83c40c;
    /*border: 0px solid #ffffff; */
    z-index: 2;
    border-radius:0px 0px 15px 15px;
    position: absolute;
    left: 0.5%;
    bottom: 8px;
    margin:  0 5% 0 5% ;
}

#AfficherPlusHebergement {
    font-size: 0.95em;
    margin: 60px 0px 30px 30px;
    position: relative;
    bottom: 0px;
}








#Populaires {
    width: 31.34%;
    background-color: #F2F2F2;
    border-radius:20px 20px 20px 20px;
    position: relative;
}
#Populaires h1{
    font-size: 1.3em;
    padding: 20px 0px 0px 30px;
}

.ImagePopulaire{
    margin:  0 5% 0 5% ;
    height: 145px;
    width: 82.38%;;
    border-radius: 20px;
    border: 4px solid #ffffff; 
    box-shadow: 4px 4px 15px #22201fa2;
    z-index: 1;
    position: relative;
}

.InformationPopulaire{
    position: absolute;
    height: 145px;
    width: 50%;
    z-index: 2;
    background-color: #ffffff;
    border-radius:0px 15px 15px 0px;
    right: 6.2%;
    bottom: 8px;
    margin:  0 5% 0 5% ;
}
.EtoilesPopulaire {
    display: flex;
    margin: 4px 4px 4px 15px;
    position: absolute;
    bottom: 0px;

}
.BasePoupulaire{
    margin: 30px 0px 0px 0px;
    position: relative;
}

.InformationPopulaire h2 {
    margin: 4px 4px 4px 15px;
    font-size: 0.7em;
    text-decoration: none ;
}
.InformationPopulaire p {
    margin: 4px 4px 4px 15px;
    font-size: 0.7em;
    text-decoration: none ;
}


#Activites {

}

